[project]
	description = Library that allows you to add searchs and aggregations in ours APIs
	state = hidden
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alberto J. Rubio (yebenes)
[access "refs/for/refs/*"]
	read = group user/Alberto J. Rubio (yebenes)
	push = group user/Alberto J. Rubio (yebenes)
	label-Code-Review = -2..+2 group user/Alberto J. Rubio (yebenes)
	label-Verified = -1..+1 group user/Alberto J. Rubio (yebenes)
	rebase = group user/Alberto J. Rubio (yebenes)
	removeReviewer = group user/Alberto J. Rubio (yebenes)
	submit = group user/Alberto J. Rubio (yebenes)
[access "refs/heads/*"]
	read = group user/Alberto J. Rubio (yebenes)
	create = group user/Alberto J. Rubio (yebenes)
	push = +force group user/Alberto J. Rubio (yebenes)
	pushMerge = group user/Alberto J. Rubio (yebenes)
[access "refs/tags/*"]
	push = +force group user/Alberto J. Rubio (yebenes)
	pushTag = group user/Alberto J. Rubio (yebenes)
	pushSignedTag = group user/Alberto J. Rubio (yebenes)
